#aba {border: solid 1px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 185px;
    padding-right: 180px;
    margin-bottom: 20px;
display: block;
text-align: center;
background-color: rgb(149, 139, 124);
font-style: italic;
color: rgb(77, 64, 9);}
#ab {border: solid 1px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
padding-left: 185px;
padding-right: 175px;
margin-bottom: 20px;
display: block;
text-align: center;
background-color: rgb(149, 139, 124);
font-style: italic;
color: rgb(77, 64, 9);}
#ac {border: solid 1px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
padding-left: 185px;
padding-right: 193px;
text-align: center;
background-color: rgb(149, 139, 124);
color: rgb(77, 64, 9);
display: block;}
 h2 {color: rgba(86, 127, 66, 0.622);}
p {color: rgba(86, 127, 66, 0.622);}

        img {width: 150px;
        height: 150px;
     border: solid rgb(94, 106, 26) 2px;
     margin-left: 640px;
     max-width: 100%;
     height: auto;
     display: block;}
     
h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;} 
body {margin-top: 200px;
background-image: url(gihad.webp);}